NEXT_PUBLIC_APP_URL=https://kographpremium.vercel.app
NEXT_PUBLIC_SUPABASE_URL=https://yredameqfdfzfwjqccwa.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlyZWRhbWVxZmRmemZ3anFjY3dhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUzNjU1MTUsImV4cCI6MjA5MDk0MTUxNX0.o2o_tkc60B2U6vWLtC8MmIyOB68ksRqiJH2qbXXWxtg
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlyZWRhbWVxZmRmemZ3anFjY3dhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTM2NTUxNSwiZXhwIjoyMDkwOTQxNTE1fQ.Ady6l-k7ELOmw1MoNpM1HyHntkJCRhAnHFeDZyKfDBY

MIDTRANS_SERVER_KEY=kk
NEXT_PUBLIC_MIDTRANS_CLIENT_KEY=nn
MIDTRANS_IS_PRODUCTION=true
NEXT_PUBLIC_MIDTRANS_IS_PRODUCTION=true

TELEGRAM_BOT_TOKEN=8685086413:AAE7VdVF2xIYom2fynGlyLsZWv5y7bjqoJU
TELEGRAM_WEBHOOK_SECRET=
TELEGRAM_TESTIMONIAL_CHANNEL_ID=

PTERODACTYL_PANEL_URL=
PTERODACTYL_APPLICATION_API_KEY=
PTERODACTYL_DEFAULT_LOCATION_ID=1
PTERODACTYL_DEFAULT_ALLOCATION_ID=1
PTERODACTYL_DEFAULT_NEST_ID=1
PTERODACTYL_DEFAULT_EGG_ID=1

